{:deps    {namenu/aoc                     {:local/root "../../lib/namenu"}
           org.clojure/core.match         {:mvn/version "1.0.0"}
           org.clojure/math.combinatorics {:mvn/version "0.1.6"}
           org.clojure/math.numeric-tower {:mvn/version "0.0.4"}}
 :paths   ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check    {:mvn/version "1.1.0"}
                                com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                           :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
                  :main-opts   ["-m" "cognitect.test-runner"]}

           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "RELEASE"}}
                  :main-opts  ["-m" "cljs.main"]}}}
